<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rock Paper Showdown</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            {{#if logged_in}}
            <nav>
           <button class="btn btn-primary" type="button" id="toMassagePage">View Messages</button> 
           <button class="btn btn-primary" type="button" id="toGamePage">Challeges</button>     
            </nav>
             <nav>
           <button class="btn btn-primary" type="button" id="toHomePage">Logout</button> 
           <button class="btn btn-primary" type="button" id="changeName">Change Name</button>     
            </nav>
            

        </header>
        <main>
            {{{body}}}

        </main>
       {{/if}}
       <script src="js/pageButtons.js"></script>
    </body>
</html>