<section>
<h2>{{game.user1_choice}}</h2>
<p>_________________________</p>
<h2>{{game.user2_choice}}</h2>
<button class="btn btn-primary" type="button" id="toGameScores">Continue</button>
    
</section>