<section>
<button class="btn btn-primary" type="button" id="rock"><img src="../public/images/Rock.png" alt="Rock" height="200" width="200"></button>
<button class="btn btn-primary" type="button" id="paper"><img src="../public/images/Paper.png" alt="Paper" height="200" width="200"></button>
<button class="btn btn-primary" type="button" id="scissors"><img src="../public/images/Scissors.png" alt="Scissors" height="200" width="200"></button>


<button class="btn btn-primary" type="button" id="back">Quit</button>
<button class="btn btn-primary" type="button" id="chat">Chat</button>
</section>