<section>
<button class="btn btn-primary" type="button" id="rock">Rock</button>
<button class="btn btn-primary" type="button" id="paper">Paper</button>
<button class="btn btn-primary" type="button" id="scissors">Scissors</button>


<button class="btn btn-primary" type="button" id="back">Quit</button>
<button class="btn btn-primary" type="button" id="chat">Chat</button>
</section>