<section>
    <div>
<h2>Games played: {{#cmp user.wins "+" user.loses "+" user.ties}}{{/cmp}}</h2>
 <h2>User Wins:{{user.wins}}</h2>   
 <h2>Enemy Wins:{{user.loses}}</h2>
 <h2>Ties:{{user.ties}}</h2>
 {{#cmp user.wins ">" user.lose }}
 <h2> You Win!</h2>
 {{#else}}
    <h2> You Lose! </h2>
 {{/cmp}}
    </div>

    <div>
 <button class="btn btn-primary" type="button" id="toGamePage">Rematch</button>
 <button class="btn btn-primary" type="button" id="toHomePage">Home</button>
 <button class="btn btn-primary" type="button" id="toMassagePage">Chat</button>       
    </div>
</section>