<!-- This handlebar is used for generating the home page-->
<section>
<img src="../public/images/image_1.png" alt="Rock, Paper, Scissors" height="200" width="200">
<div>
<button class="btn btn-primary" type="button" id="join">Join</button>
</div>
<div>
<button class="btn btn-primary" type="button" id="login">Login</button>
</div>
</section>