<!-- This handlebar is used for generating the home page-->
<section>
  <div class="homeIcons">
    <img src="../../public/images/Rock.png" alt="ROCK">
    <img src="../../public/images/Paper.png" alt="PAPER">
    <img src="../../public/images/Scissors.png" alt="SCISSORS">
  </div>
  <div>
    <button class="btn btn-primary" type="button" id="join">Join</button>
  </div>
  <div>
    <button class="btn btn-primary" type="button" id="login">Login</button>
  </div>
</section>