<!-- This handlebar is used for generating the home page-->
<section>
<img src="" alt="Rock, Paper, Scissors">
<div>
<button class="btn btn-primary" type="button" id="join">Join</button>
</div>
<div>
<button class="btn btn-primary" type="button" id="login">Login</button>
</div>
</section>