<!-- This handlebar is used for generating the login page-->

<section>
<div>
<h2>Welcome Back!</h2>
</div>

<form class="form login-form">
  <div class="form-group">
    <input class="form-input" type="text" id="username-login" placeholder="Username"/>
  </div>
  <div class="form-group">
    <input class="form-input" type="password" id="password-login" placeholder="Password"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="toUserPage">login</button>
  </div>
</form>
  <div>
    <button class="btn btn-primary" type="button" id="join">Join</button>
  </div>


<script src="/js/login.js"></script>

</section>
