<h2>Message to {{user.username}}</h2>

<!--in progress: chatlog-->

<input type="text" id="messagebox" name="messagebox" placeholder="Enter a message"/>

<button type = "button" id="sendbutton">Send Message</button>
<button type = "button" id="toUserPage">Quit</button>