<!--Generate the Room Creation page-->
<section>
<button type = "button" id="makeClosed">Closed Room</button>
<button type = "button" id="makeOpen">Open Room</button>


<input type="text" id="roomName" name="roomName" placeholder="Room Name"/>
<button type = "button" id="toGamePage">Create Room!</button>
<button type = "button" id="toRoomSelect">Quit</button>
</section>