<section>
<input type="text" id="userSearch" name="userSearch" placeholder="Enter a username"/>

<!--in progress: search results populate -->

<input type="text" id="messagebox" name="messagebox" placeholder="Enter a message"/>

<button type = "button" id="searchbutton">Search</button>
<button type = "button" id="toUserPage">Quit</button>
</section>