<!--This is used for generating the user page-->
<section>
 <div>
<!--in progress: adding wins, loses, and ties together -->
<h2>Games played: {{#cmp user.wins "+" user.loses "+" user.ties}}{{/cmp}}</h2>
<h2>Wins:{{user.wins}}</h2>
<h2>Loses:{{user.loses}}</h2>
<h2>Ties:{{user.ties}}</h2>
<!--in progess: applying a proper syntex to create win percentage-->
<h2>Win Percentage:{{#cmp user.wins "/" user.loses}}{{/cmp}}</h2>    
</div>

<button class="btn btn-primary" type="button" id="reset">Reset Stats</button>
<button class="btn btn-primary" type="button" id="toSearchPage">Search for User</button>
<button class="btn btn-primary" type="button" id="toRoomSelect">Play</button>
</section>