<section>
<input type="text" id="userSearch" name="userSearch" placeholder="Enter a username"/>

<!--in progress: search results populate -->
{{#each users as |user|}}
{{> user-details}}
{{/each}}

<button type = "button" id="searchbutton">Search</button>
<button type = "button" id="toUserPage">Quit</button>
</section>