<!--This is used for generating the user profile-->
<section>
 <div>
<h2>Games played:</h2>
<h2>Wins:</h2>
<h2>Loses:</h2>
<h2>Ties:</h2>
<h2>Percentage:</h2>    
</div>
<!--Placeholer for Badge and Pie Chart-->

<button class="btn btn-primary" type="button">Challenges This Player</button>
<button class="btn btn-primary" type="button">Send Message</button>
</section>