:root {
    --orange: #F08228;
    --red-orange: #C84623;
    --red: #96321E;
    --yellow: #FFCD5A;
    --pale-yellow: #FFEBA0 ;
    --pale-green: #C8DC9B ;
    --mid-green: #A0C88C ;
    --teal: #73BE96 ;
    --dark-green: #467761 ;
}